## 0. Preliminary
- 강의의 초점 
- DS를 해야하는 이유?
- 이 데이터 분석의 목적?
- 옵션을 다 외울수도 없고, 모델 함수도 아 외울수 없다 -> document와 자동완성에 익숙 해져야 함
- 아래 내용들은 ds2 최근 기출에 해답에 나와있던 method들 및 개인적으로 많이 쓰는 것 위주로 준비함

**(참고) About netfilx_imdb file**

> The file Netflix TV Shows and Movies.csv contains comprehensive information about various titles available on Netflix, including their titles, release years, runtime, IMDB scores, and IMDB votes
    
- title: The name of a TV show or movie. (Text)
- type: Indicates whether an entry is a TV show or a movie. (Text)
- description: A brief summary or description of a TV show or movie. (Text)
- release_year: The year in which a TV show or movie was released. (Numeric)
- age_certification: The age certification rating for a TV show or movie. (Text)
- runtime: The length of an episode for TV shows or duration of a movie. (Text)
- imdb_score: The score given by users on IMDB for a particular title. (Numeric)
- imdb_votes: The number of votes received by each title on IMDB. (Numeric)

**(참고2) imdb voting**
![](https://m.media-amazon.com/images/G/01/imdbpro/help/help_site_content/GD9UAYG9EUUERMUH/vote_change_del_low_quality.gif)

In [ ]:
# 목표 : imdb rating

## 1. 데이터 불러오기

- 보통 많이 보게되는 데이터 파일의 확장자는 csv, tsv, json, jsonl
- pd.read_csv, pd.read_json 와 옵션들을 사용해서 읽어옴
- 가끔 글자가 깨지는 경우, encoding 옵션도 필요할 때가 있음
- txt, pickle, parquet을 다음으로 많이 사용
- txt는 open을 이용함

In [1]:
import numpy as np
import pandas as pd

In [11]:
df = pd.read_csv("./data/netflix_imdb.csv")

In [24]:
df = pd.read_csv("./data/netflix_imdb.csv", sep = ",", )

In [10]:
df = pd.read_json("./data/netflix_imdb.jsonl", lines = True, )

## 2. 데이터 살펴보기

### 샘플링 : head, tail, sample
- 개인적으로는 보통 jupyter에서 df print 하는 방식을 선호함. shape, head, tail, index를 한번에 확인 가능
- tail과 sample은 가끔 특정 상황에 사용함

In [20]:
df

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
0,0,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,tt0075314,8.3,795222.0
1,1,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,tt0071853,8.2,530877.0
2,2,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,tt0079470,8.0,392419.0
3,3,tm190788,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,tt0070047,8.1,391942.0
4,4,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,tt0063929,8.8,72895.0
...,...,...,...,...,...,...,...,...,...,...,...
5278,5278,tm1040816,Momshies! Your Soul is Mine,MOVIE,Three women with totally different lives accid...,2021,NaN,108,tt14412240,5.8,26.0
5279,5279,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,tt13857480,6.9,39.0
5280,5280,tm1045018,Clash,MOVIE,A man from Nigeria returns to his family in Ca...,2021,NaN,88,tt14620732,6.5,32.0
5281,5281,tm1098060,Shadow Parties,MOVIE,A family faces destruction in a long-running c...,2021,NaN,116,tt10168094,6.2,9.0
5282,5282,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,0,tt13711094,8.8,16.0

In [17]:
df.head(1)

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
0,0,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,tt0075314,8.3,795222.0

In [18]:
df.tail(1) # 시계열 데이터 일 때

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
5282,5282,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,0,tt13711094,8.8,16.0

In [19]:
df.sample(2) # 임의값 확인 차

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
5090,5090,tm1131374,Carolin Kebekus: The Last Christmas Special,MOVIE,"One of the biggest comedians in Germany, Carol...",2021,NaN,66,tt15893460,4.7,97.0
4715,4715,ts215989,Snabba Cash,SHOW,The entrepreneurial jet set as well as the cri...,2021,TV-MA,43,tt10540276,7.6,8176.0

### 요약하기 1: shape, info, summary
- 데이터의 전반적인 구성 확인

In [21]:
df.shape

(5283, 11)

In [23]:
df.info() # 솔직히 거의 안씀 null check 용

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5283 entries, 0 to 5282
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              5283 non-null   int64
 1   id                 5283 non-null   object
 2   title              5283 non-null   object
 3   type               5283 non-null   object
 4   description        5278 non-null   object
 5   release_year       5283 non-null   int64
 6   age_certification  2998 non-null   object
 7   runtime            5283 non-null   int64
 8   imdb_id            5283 non-null   object
 9   imdb_score         5283 non-null   float64
 10  imdb_votes         5267 non-null   float64
dtypes: float64(2), int64(3), object(6)
memory usage: 454.1+ KB

In [32]:
df.describe()

             index  release_year      runtime   imdb_score    imdb_votes
count  5283.000000   5283.000000  5283.000000  5283.000000  5.267000e+03
mean   2641.000000   2015.879992    79.199886     6.533447  2.340719e+04
std    1525.215067      7.346098    38.915974     1.160932  8.713432e+04
min       0.000000   1953.000000     0.000000     1.500000  5.000000e+00
25%    1320.500000   2015.000000    45.000000     5.800000  5.210000e+02
50%    2641.000000   2018.000000    87.000000     6.600000  2.279000e+03
75%    3961.500000   2020.000000   106.000000     7.400000  1.014400e+04
max    5282.000000   2022.000000   235.000000     9.600000  2.268288e+06

In [34]:
# imdb_score가 
df.describe(percentiles = [i/10 for i in range(10)])

             index  release_year      runtime   imdb_score    imdb_votes
count  5283.000000   5283.000000  5283.000000  5283.000000  5.267000e+03
mean   2641.000000   2015.879992    79.199886     6.533447  2.340719e+04
std    1525.215067      7.346098    38.915974     1.160932  8.713432e+04
min       0.000000   1953.000000     0.000000     1.500000  5.000000e+00
0%        0.000000   1953.000000     0.000000     1.500000  5.000000e+00
10%     528.200000   2009.000000    25.000000     5.100000  1.250000e+02
20%    1056.400000   2014.000000    42.000000     5.600000  3.510000e+02
30%    1584.600000   2016.000000    51.000000     6.100000  7.098000e+02
40%    2112.800000   2017.000000    66.000000     6.400000  1.305000e+03
50%    2641.000000   2018.000000    87.000000     6.600000  2.279000e+03
60%    3169.200000   2019.000000    94.000000     6.900000  3.891000e+03
70%    3697.400000   2019.000000   102.000000     7.200000  7.002600e+03
80%    4225.600000   2020.000000   111.000000     7.500000  1.560980e+04
90%    4753.800000   2021.000000   127.000000     7.900000  4.846940e+04
max    5282.000000   2022.000000   235.000000     9.600000  2.268288e+06

### 요약하기 : unique, nunique, summary
plot.hist, box

## 3. 데이터 조작하기

In [ ]:
- isna, duplicated

In [ ]:
- col select
- loc, iloc, condition, query 
- index, reset_index
- merge
- sort
- apply
- groupby
- melt?

In [ ]:
numpy
- pd <-> np
- np.broadcasting

## 4. 데이터 모델링